.me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}   

.felipe-sander {
    background-color: #fff;
    background-size: contain;
    max-height: 380px;
}
