.about-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens flexíveis sejam quebrados para a próxima linha */
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 100px;
  }

  /* Container para o grupo de 3 divs */
.about-group {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about_me {
    flex: 1; /* Ocupa espaço igualmente na linha */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
  }
  
  .title {
    font-family: 'Orbitron', sans-serif;
    color: #aaa8a8;
    font-size: 30px;
  }
  
  .description {
    font-size: 18px;
    color: #fff;
    justify-content: flex-start;
    text-align: center;
  }
  